<table class="table">
  <thead class="thead-default" >
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Vendor Name</th>
      <th>Price</th>
      <th>Catagoery</th>
      <th>Qty</th>
    </tr>
  </thead>
  <tbody >
    <tr ng-repeat=" i in ctrl.inventory" >
      <th scope="row">{{i.id}}</th>
      <td>{{i.product}}</td>
      <td>{{i.vendor}}</td>
          <td>{{i.price}}</td>
        <td>{{i.catagoery}}</td>


          <td>{{i.qty}}</td>

          <td>
            <a href="" class="btn btn-xs btn-default" ui-sref="^.view({productId: i.id})">
              <i class="fa fa-eye"></i>
            </a><a href="" class="btn btn-xs btn-default" ui-sref="^.edit({productId: i.id})">
            <i class="fa fa-pencil"></i>
          </a>
          <a href="" class="btn btn-xs btn-default" ui-sref="^.delete({productId: i.id})">
            <i class="fa fa-trash-o"></i>
          </a></td>
    </tr>

  </tbody>
</table>
